.sln_meta_field {
    display: block;
}

.sln-col-x4 {
    float: left;
    width: 25%;
}

.sln-col-x2 {
    float: left;
    width: 50%;
}

.sln-col-x4 input[type="text"],
.sln-col-x4 select {
    width: 100px;
}

.sln-date select {
    width: auto
}

.sln-clear {
    display: block;
    clear: both;
    height: 1px;
    width: 100%;
}

#sln-availabilities div.item {
    border: 1px solid #dfdfdf;
    padding: 10px;
    margin: 2px;
}

.sln-tab {
    border: 1px solid #ccc;
    border-top-width: 0;
    background: #f1f1f1;
    padding: 30px;
}

.sln-tab .form-group label input {
    display: inline-block;
    margin-top: -3px
}

.sln-separator {
    height: 1px;
    border-top: 1px dashed #666;
    margin: 20px auto;
    width: 80%;
    clear: both;
}
.sln-separator-vertical {
    height: 30px;
    width: 1px;
    border-left: 1px dashed #666;
    margin: 0 auto;
}
