#sln-saloon {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}
#sln-saloon p li,
#sln-saloon a div {
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}
#sln-saloon > div {
  border: 1px solid #fff;
  padding: 30px 40px;
}
#sln-saloon .sln-service-list label {
  padding-top: 10px;
  width: 100%;
}
#sln-saloon .sln-service-list .service-name {
  color: #004662;
  font-size: 20px;
  font-weight: normal;
  display: block !important;
  border-bottom: 1px dashed #ccc;
  margin-top: -10px;
}
#sln-saloon .sln-service-list .saloon-step-services {
  border: 2px solid red;
}
#sln-saloon .sln-service-list .service-description,
#sln-saloon .sln-service-list .service-duration {
  color: #666666;
  font-size: 14px;
  display: block;
  clear: both;
}
#sln-saloon .sln-service-list .service-price {
  font-size: 16px;
  font-weight: bold;
}
#sln-saloon .service-checkbox input {
  min-width: 16px !important;
  min-height: 16px !important;
}
#sln-saloon h1 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
}
#sln-saloon h1 .icocal {
  margin-left: 30px;
  margin-top: 0px;
  position: absolute;
  display: inline-block;
}
#sln-saloon h2 {
  font-size: 24px;
  font-weight: normal;
}
#sln-saloon h2 em {
  display: block;
  clear: both;
  color: #999999;
  font-size: 14px;
  font-style: normal;
}
#sln-saloon .row-total {
  border-top: 7px solid #eeeeee;
  font-weight: bold;
  font-size: 18px;
}
#sln-saloon .saloon-bar {
  margin: 0;
  font-size: 10px;
}
#sln-saloon .saloon-bar li {
  background-color: #f0f0f0;
  text-transform: uppercase;
  border-radius: 3px;
  text-align: center;
}
#sln-saloon .saloon-bar li.active {
  background-color: #ccc;
  text-transform: uppercase;
  border-radius: 3px;
  text-align: center;
}
#sln-saloon .form-group label {
  color: #666666;
  font-size: 15px;
  margin-bottom: 5px;
}
#sln-saloon .form-group .form-control {
  color: #004662;
  font-size: 20px;
  padding: 3px;
}
#sln-saloon .form-actions {
  margin-top: 10px;
}
#sln-saloon .form-actions > div > div {
  float: left;
}
#sln-saloon .form-actions a,
#sln-saloon .form-actions a:hover,
#sln-saloon .form-actions button {
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
#sln-saloon .form-actions .sln-step-num {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #999999;
}
#sln-saloon #saloon-step-summary p.dear {
  color: #666666;
}
#sln-saloon #saloon-step-summary div.summ-row {
  background: #eeeeee;
  margin-bottom: 3px;
}
#sln-saloon #saloon-step-summary div.summ-row > div {
  display: table;
  table-layout: fixed;
}
#sln-saloon #saloon-step-summary div.summ-row span.label {
  font-size: 12px;
  color: #666666;
  display: block;
  margin-top: 40px;
}
#sln-saloon #saloon-step-summary div.summ-row p.date {
  font-size: 18px;
  color: #004662;
  line-height: 20px;
  margin: 30px 5px;
}
#sln-saloon #saloon-step-summary div.summ-row ul {
  margin: 0;
}
#sln-saloon #saloon-step-summary div.summ-row li {
  width: 100%;
  clear: both;
  padding: 5px;
}
#sln-saloon #saloon-step-summary div.summ-row .service-label {
  color: #004662;
  font-size: 14px;
}
#sln-saloon #saloon-step-summary div.summ-row .service-price,
#sln-saloon #saloon-step-summary div.summ-row .total-price {
  display: block;
  float: right;
  font-weight: bold;
  color: black;
}
#sln-saloon #saloon-step-summary div.summ-row .total-label,
#sln-saloon #saloon-step-summary div.summ-row .total-amount {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
#sln-saloon .tycol {
  background: #eeeeee;
  color: #666666;
  padding: 15px;
  height: 120px;
  border-left: 4px solid #f8f8f8;
  text-align: center;
}
#sln-saloon .tycol span.num {
  font-size: 26px;
  color: black;
  padding: 20px;
  font-weight: bold;
}
#sln-saloon .tycol i {
  font-size: 48px;
  color: green;
}
#sln-saloon p.ty {
  color: #666666;
  font-size: 12px;
  margin-bottom: 5px;
}
#sln-saloon #saloon-step-thankyou .form-actions a {
  font-size: 14px;
  text-transform: none;
}
#sln-saloon .aligncenter {
  text-align: center;
}
