*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:focus, *:before:focus, *:after:focus {
    outline: 0 !important; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1); } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1); } }

@-ms-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1); } }

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.99); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@font-face {
  font-family: 'FontAwesome';
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.wrap h2.nav-tab-wrapper {
  font-size: 1em; }

#sln-salon h2 {
  font-family: "Open sans", serif;
  font-size: 0.83333rem;
  line-height: 1.41667rem;
  line-height: 1.41667rem;
  font-weight: normal; }
  @media only screen and (min-width: 768px) {
    #sln-salon h2 {
      font-size: 1rem; } }
