$wrapper: '#sln-salon--admin, .sln-calendar--wrapper';
$grid-gutter-width:         15px;
$cl_main: rgb(0,53,83);
$cl_main--medium: #4c7186;
$cl_main--light: rgb(199,223,243);
$cl_main--light--border: #c5cfd4;
$cl_main--lighter: #f1f1f1;
$cl_main--white: #fff;
$cl_main--emphasis: #0C6EB6;
$cl_problem: #D22221;
$cl_problem--light: #e63f24;
$cl_warning: #f5b025;
$cl_warning--light: #f7c65f;
$cl_ok: #5bc24c;

@function alpha-tones($tone, $alpha){
  @return rgba($tone, $alpha)
}

$browser-context: 24;



@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {
     color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
     color: $color;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
     color: $color;
  }
  &:-ms-input-placeholder {
     color: $color;
  }
}

@mixin sqared_bg() {
    background-color: #fff;
    background-image: -webkit-linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%, #cccccc), -webkit-linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%, #cccccc);
    background-image: -o-linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%, #cccccc), -o-linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%, #cccccc);
    background-image: -moz-linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%, #cccccc), -moz-linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%, #cccccc);
    background-image: linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%, #cccccc), linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%, #cccccc);
    background-size:16px 16px;
    background-position:0 0, 8px 8px;
}