//$sln-color--main: rgb(0,53,83);
//$sln-color--main--medium: #4c7186;
//$sln-color--main--light: rgb(199,223,243);
//$sln-color--main--light--border: #c5cfd4;
$sln-color--white: #fff;
$sln-color--main--emphasis: #0C6EB6;
$sln-color--problem: #D22221;
$sln-color--problem--light: #e63f24;
$sln-color--warning: #f5b025;
$sln-color--warning--light: #f7c65f;
$sln-color--ok: #5bc24c;

$sln-color--main: rgba(255, 255, 255, .75);
$sln-color--contrast: rgba(0, 66, 88, 1);
$sln-color--contrast--alpha: rgba(0, 66, 88, .3);
$sln-color--dark: rgba(0, 0, 0, 1);

$sln-color--main--noalpha: rgba(255, 255, 255, 1);
$sln-color--emphasis: #0277BD;
$sln-color--emphasis--hover: #0091EA;

$sln-color--grey--main: #888;
$sln-color--grey--light: #e4e7e7;

%text-color--main {color: $sln-color--main--noalpha;}
%text-color--contrast {color: $sln-color--contrast;}
%text-color--contrast--alpha {color: $sln-color--contrast--alpha;}
%text-color--dark {color: $sln-color--dark;}
%text-color--emphasis {color: $sln-color--emphasis;}
%text-color--emphasis--hover {color: $sln-color--emphasis--hover;}
%text-color--grey {color: $sln-color--grey--main;}
%text-color--grey {color: $sln-color--grey--light;}
%text-color--white {color: $sln-color--white;}
%text-color--ok {color: $sln-color--ok;}
%text-color--problem {color: $sln-color--problem;}
%text-color--problem--light {color: $sln-color--problem--light;}
%text-color--warning {color: $sln-color--warning;}

// BACKGORUNDS
%bgc-color--main {background-color: $sln-color--main;}
%bgc-color--main--noalpha {background-color: $sln-color--main--noalpha;}
%bgc-color--contrast {background-color: $sln-color--contrast;}
%bgc-color--contrast--alpha {background-color: $sln-color--contrast--alpha;}
%bgc-color--dark {background-color: $sln-color--dark;}
%bgc-color--emphasis {background-color: $sln-color--emphasis;}
%bgc-color--emphasis--hover {background-color: $sln-color--emphasis--hover;}
%bgc-color--transparent {background-color: transparent;}
%bgc-color--grey {background-color: $sln-color--grey--main;}
%bgc-color--grey--light {background-color: $sln-color--grey--light;}
%bgc-color--ok {background-color: $sln-color--ok;}
%bgc-color--white {background-color: $sln-color--white;}
%bgc-color--warning {background-color: $sln-color--warning;}
%bgc-color--warning--light {background-color: $sln-color--warning--light;}
%bgc-color--problem {background-color: $sln-color--problem;}
%bgc-color--problem--light {background-color: $sln-color--problem--light;}

// BORDERS
%bd-color--main {border-color: $sln-color--main !important;}
%bd-color--contrast {border-color: $sln-color--contrast !important;}
%bd-color--contrast--alpha {border-color: $sln-color--contrast--alpha !important;}
%bd-color--dark {border-color: $sln-color--dark !important;}
%bd-color--emphasis {border-color: $sln-color--emphasis !important;}
%bd-color--emphasis--hover {border-color: $sln-color--emphasis--hover !important;}
%bd-color--transparent {border-color: transparent !important;}
%bd-color--main--noalpha {border-color: $sln-color--main--noalpha !important;}
%bd-color--grey {border-color: $sln-color--grey--main !important;}
%bd-color--grey--light {border-color: $sln-color--grey--light !important;}
%bd-color--ok {border-color: $sln-color--ok !important;}
%bd-color--warning {border-color: $sln-color--warning !important;}
%bd-color--problem {border-color: $sln-color--problem !important;}
%bd-color--problem--light {border-color: $sln-color--problem--light !important;}
