#sln-salon--admin, .sln-calendar--wrapper {
    @import 'bootstrap';
}
@import 'settings-mixins';
@import 'admin_config';
@import 'typo';

.sln_meta_field {
    display: block;
}

.sln-date select {
    width: auto
}

.sln-clear {
    display: block;
    clear: both;
    height: 1px;
    width: 100%;
}

#sln-availabilities div.item {
    border: 1px solid #dfdfdf;
    padding: 10px;
    margin: 2px;
}

.sln-tab {
    border: 1px solid #ccc;
    border-top-width: 0;
    background: #f1f1f1;
    padding: 30px;
    .form-group label input {
        display: inline-block;
        margin-top: -3px
    }
}

.sln-separator {
    height: 1px;
    border-top: 1px solid #ddd;
    margin: 2em auto;
    width: 100%;
    clear: both;
}

//
.sln-tab {
    #sln-availabilities .items .item {
        padding: 1.4em;
        margin: 1em 0;
        .col-md-12 {
            padding-left: 0;
            @include bp(phone) {
                padding-right: 0;
            }
        }
        .first-row {
            margin-bottom: 1.4em;
            .form-group {
                padding-right: 2em;
                @include bp(tablet) {
                    padding-right: 1em;
                }
                @include bp(phone) {
                    display: block;
                    width: 50%;
                    float: left;
                    margin: 0 0 2em 0em;
                    &:last-child {float: none;}
                }
            } 
        }
    }

    .setting-interval {margin-top: 1.4em;}
    input[type="radio"], input[type="checkbox"] {
        margin: 0 .5em;
    }

    .settings-allowed {
        @include bp(tablet-port) {
            .col-md-5:nth-child(1) {margin-bottom: 1.4em;}
        }
        @include bp(phone) {
            .col-md-5:nth-child(1) {margin-bottom: 1.4em;}
            select {margin: .2em 0;}
        }
    }

    .settings-disable, .settings-confirmation {
        @include bp(tablet-port) {
            .col-md-6:nth-child(1) {margin-bottom: 1.4em;}
        }
    }
}

.salon_page_salon-settings.wp-core-ui .button-primary {
    color: #ffffff;
    background: $ca-blue;
    border-color: $ca-blue;

    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: .6em 2.6em;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    box-shadow: none;
    height: auto;

    &:hover {
        background: #3071a9;
        border-color: #285e8e;
    }
}
.salon_page_salon-settings.wp-core-ui .sln-tab .button-primary  {margin: 0 0 0 -1em;}

// TABS
h2.nav-tab-wrapper {
    margin-top: rem(40px);
    @include bp(desktop) {
        margin-top: 0;
    }
    img {
        margin-right: 10px;
    }
    @media only screen and (max-width: 567px) {
        // TABS SU SMARTPHONE IN PORT.
        padding-right: 0;
        padding-left: 0;
        padding-top: 10px;
        position: relative;
        img {
            margin-bottom: 10px;
            position: absolute;
            right: 0;
            top: -25px;
        }
        .nav-tab {
            display: block;
            margin-right: 0;
            font-size: 12px;
            line-height: 12px;
            padding: 10px;
        }
        // TABS SU SMARTPHONE IN PORT. END
    }

    @media only screen and (min-width: 568px) {
        // TABS SU SMARTPHONE IN PORT.
        padding-right: 0;
        padding-left: 0;
        padding-top: 10px;
        position: relative;
        img {
            margin-bottom: 0;
        }
        .nav-tab {
            display: inline-block;
            margin-right: 0;
            font-size: 12px;
            line-height: 12px;
            padding: 10px;
        }
        // TABS SU SMARTPHONE IN PORT. END
    }

}
// TABS END


@include bp(tablet-port) {
    .sln-tab {
           #sln-availabilities .items .item .btn.btn-block.btn-danger {
            width: 25%;
            float: right;
            margin-top: 1em;
           }
           #sln-availabilities .col-md-2.pull-right {width: 29%; margin-top: 1em;}
    }
}
@include bp(phone) {
    .sln-tab {
           #sln-availabilities .items .item .btn.btn-block.btn-danger {margin-top: 2em;}
           #sln-availabilities .col-md-2.pull-right {width: 100%; margin-top: 1em;}
           .row:nth-child(1) .col-md-6:nth-child(1) {
                padding-left: 0;
                padding-right: 0;
                .form-group, p {margin-bottom: 0;}
            }
    }

    //#sln-tab-payments .row {padding-bottom: 1.4em;}
    //#sln-tab-payments .row > div {padding-bottom: 1.4em;}
    //#sln-tab-payments .row .form-group {margin-bottom: 0;}

   
}



// /// /// /// /// /// /// /// //
// /// SERVICES
// /// /// /// /// /// /// /// //

#sln_service-details, #sln_attendant-details {
    padding-bottom: 2em;

    em {color: #aaa;}s
    h3:nth-child(3) {padding-left: 0;}

    .sln-service-price-time {
        input[type='text'] {
            padding: 3px 10px;
            height: auto;
            @include bp(tablet-port) {height: 34px;}
        }

        .col-xs-6:nth-child(4){
            @include bp(phone-port) {
                width: 100%;
            }
        }
    }

    #_sln_service_secondary {display: block;}
    
    input[type="radio"], input[type="checkbox"] {
        margin: 0 .5em;
    }

    #_sln_service_secondary {
        @include bp(phone) {margin: 0 .5em -.6em 0;}
    }

    .services-notavailable, .attendants-notavailable{
        margin: 0 0 1em -.5em;
        @include bp(phone) {margin: 0 0 2em -.5em;}
        @include bp(tablet) {margin: 0 0 2em -.5em;}
        label {
            margin-right: 2em;
            @media only screen and (min-width: 951px) and (max-width: 1279px) {margin-right: .5em;}
            @include bp(phone)  {
                display: block;
                width: 50%;
                float: left;
                margin: 0 0 2em 0em;
                &:last-child {float: none;}
            }
        }
    }

    .services-notavailable-h, .attendants-notavailable-h {
        label {
            margin-right: 2em;
            @include bp(phone) {width: 100%; margin-bottom: 1em;}
        }
    }
}

.post-type-sln_service {
    textarea#excerpt {min-height: 150px;}
}

// /// SERVICES END



// /// /// /// /// /// /// /// //
// /// BOOKING
// /// /// /// /// /// /// /// //

#sln_booking-details {
    * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    .row.form-inline {
        margin-top: 1em;
        @media only screen and (min-width: 1024px) and (max-width: 1279px) {
            .col-md-6 {width: 100%;}
            .col-md-6:nth-child(2) {margin-top: 1em;}
        }

        @include bp(tablet) {
            .form-control {
                 width: 100%;
            }
        }
        @include bp(phone) {
            select {margin-bottom: 1em;}
        }
    }
    .sln_meta_field {
        .row:before {
            content:"";
            display: block;
            width: 95%;
            height: 1px;
            //background-color: #f9f9f9;
            border-top: 1px dotted #eee;
            margin: 15px 18px;
        }
    }
    textarea#_sln_booking_note {min-height: 150px;margin-right: 18px;}

    .sln_booking-service-price {
        font-size: 1.1em; font-weight: bold;
        @include bp(phone) {
            margin-top: .4em;
        }
    }

    .sln_booking-service-info {
        @include bp(phone) {
            label {padding-right: 1em;}
        }
    }

    label {
        font-weight: normal;
        strong {
            display: block;
            font-size: 1.1em;
            margin-bottom: .4em;
        }
    }

    .sln_booking-topbuttons {
        padding-bottom: 1em;
        margin: 1em 0 1.5em 0;
        border-bottom: 1px solid #ddd;
        .row {
            padding: 1em 0;
        }
        .sln_accept-refuse {
            border-left: 1px solid #ddd;
            @include bp(desktop-xl) {padding-left: 9.75%;}
            @include bp(phone) {
                border-left: none;
                border-top: 1px solid #ddd;
                margin-top: 1em;
                padding-top: 1em;
                .row {padding-top: 0;}
            }
        }

        h2 {
            margin-bottom: 0;
            margin-top: 0;
            font-size: 1.3em;
        }
        .btn {
            width: 100%;
            font-size: 18px;
            margin-top: -2px;
            margin-right: 0;
            margin-left: 0;
            padding: 6px 0;
            @include bp(tablet-port) {
                padding: 5px 0;
                font-size: 20px;
            }
            @include bp(phone) {
                width: 100%;
                margin-top: .6em;
            }
        }
    }
}

.show--phone {
    @include bp(tablet) {
        display: none !important;
        visibility: hidden !important;
    }
}

.hide--phone {
    @include bp(phone) {
        display: none !important;
        visibility: hidden !important;
    }
}

// /// BOOKING END


// /// /// /// /// /// /// /// //
// /// SETTINGS
// /// /// /// /// /// /// /// //

// GENERL RULES
body {
    background-color: transparent;
}
// GENERL RULES // END

#sln-salon--admin {
    @import 'admin_config';
    @import 'typo';
    @import 'admin_components/inputs';
    @import 'admin_components/buttons';
    &.sln-salon--settings {font-size: $browser-context + px;}
    .sln-box {
        padding: rem(20px);
        margin-bottom:  rem(40px);
        margin-left: 0;
        margin-right: 0;
        @include bp(tablet) {padding: rem(30px);}
        @include bp(desktop) {padding: rem(40px) rem(40px) 0 rem(40px);}
    }
    .sln-box--main {
        background-color: #fff;
        @include transition(background-color 250ms);
        &.sln-box--info-visible {background-color: $cl_warning--light;}
    }
    .sln-box--main--small {
        min-height: 240px;
    }
    .sln-box--sub {
        padding-top: rem(20px);
        padding-bottom: rem(20px);
        margin-bottom: rem(40px);
        border: rem(2px) solid $cl_main--light;
    }
    .sln-box--fadein {@include fadein(250ms);}
    .sln-box-maininfo {
        @extend %font-medium;
        @extend %font-cl_standard;
        padding-bottom: rem(20px);
        p {@extend %font-big; @extend %font-cl_standard; margin-top: 0;}
        &.align-top {
            @include bp(tablet) {padding-top: rem(38px);}
        }
    }
    .sln-box-title {
        @extend %font-cl_main;
        padding: 0 0 rem(20px);
        @extend %font-bigger;
        span {
            @extend %font-big;
            @extend %font-cl_standard;
            &:not(block) {
                padding-left: rem(10px);
                @include bp(phone) {padding: 0;}
            }
            &.block {display: block; padding-left: 0;}
            @include bp(phone) {display: block;}
        }
    }
    .sln-box-info {
        padding-bottom:  rem(20px);
        .sln-box-info-trigger {
            .sln-btn--small.sln-btn--icon:after {font-size: rem(30px); line-height: rem(30px);}
            .sln-icon--close {display: none;}
            .sln-icon--info {
                margin-top: 0;
                @include transition(margin-top 300ms);
            }
        }
        .sln-box-info-content {
            max-height: 0;
            overflow: hidden;
            position: relative;
            @include transition(max-height 200ms);
            @extend %font-big; @extend %font-cl_standard;
            h5 {@extend %font-big; @extend %font-cl_standard;}
        }
    }
    .sln-box--info-visible .sln-box-info {
        .sln-box-info-trigger {
            .sln-icon--info {
                margin-top: rem(20px);
                @include transition(margin-top 300ms);
            }
            .sln-icon--close, .sln-icon--info {
                display: inline-block;
                &:after {color: $cl_main;}
                &:hover {
                    &:after {color: $cl_main--emphasis;}
                }
            }
        }
        .sln-box-info-content {max-height: 1000px;}
    }

    .sln-booking-rule {
        margin: rem(40px) 0;
        padding-top: rem(20px);
        padding-bottom: rem(20px);
        @extend %sln-small-border;
        border-left: none;
        border-right: none;
    }
    // SELF OVERRIDES
    h2.nav-tab-wrapper, h3.nav-tab-wrapper {
        border-bottom: none;
        margin-bottom: rem(40px);
    }
    .sln-tab {
        border: none;
        border-top-width: 0;
        background: transparent;
        padding: 0 0 rem(80px) 0;
        @include bp(desktop) {margin-right: rem(340px);}
        .form-group label input {
            display: initial;
            margin-top: initial;
        }
    }
    // MESSAGES
    .sln-message {
      @extend %font-big;
      border-bottom: rem(4px) solid $cl_warning;
      display: inline-block;
      padding: rem(4px);
    }
    // MESSAGES // END
    // SELF OVERRIDES // END: ;
    .sln-admin-sidebar {
        position: fixed;
        width: 100%;
        bottom: 0;
        right: 0;
        background-color: alpha-tones($cl_main, .9);
        padding: rem(15px);
        @extend %zi-top;
        .sln-update-settings {
            float: left;
            max-width: 260px;
        }
        @include bp(tablet) {
            width: 100%;
            bottom: 0;
            right: 0;
            background-color: alpha-tones($cl_main, .85);
            .sln-update-settings {
                float: left;
                max-width: 260px;
            }
        }
        @include bp(desktop) {
            width: rem(340px);
            right: rem(10px);
            bottom: initial;
            background-color: alpha-tones($cl_main, 0);
            .sln-update-settings {
                float: none;
                width: 100%;
            }
        }
        .sln-toolbox-trigger-mob {float: right;}
    }
}
@import 'sln-select2';

// CALENDAR
.salon_page_salon-calendar .sln-calendar--wrapper,
.sln-calendar--wrapper {
    max-width: 95%;
    font-size: 12px;
    .btn-group {margin: 3em 0  2em 0;}
    button {
        text-align: center;
        border: none;
        cursor: pointer;
        transition: background-color 200ms, color 300ms;
        text-decoration: none;
        position: relative;
        @extend %zi-navigazione;
        background-color: $cl_main--light;
        color: $cl_main;
        //border: 1px solid #c5cfd4;
        display: inline-block;
        height: rem(44px);
        font-size: 1.2em;
        line-height: rem(44px);
        padding: 0 rem(15px);
        margin-bottom: 1em ;
        &.active {
            //border: 1px solid $cl_main--medium;
            background-color: $cl_ok;
            color: #fff;
        }
        &:hover {
          border-color: $cl_main;
          background-color: $cl_main;
          color: #fff;
        }
        &.f-row {
            width: 32%;
        }
        &.s-row {
            width: 23.8%;
        }
        @include bp(tablet) {
            width: auto;
            min-width: 90px;
            height: rem(44px);
            font-size: 1.2em;
            line-height: rem(44px);
            &.s-row, &.f-row {width: auto;}
        }
    }
    .sln-btn--addbooking {
        text-align: center;
        border: none;
        cursor: pointer;
        transition: background-color 200ms, color 300ms;
        text-decoration: none;
        position: relative;
        @extend %zi-navigazione;
        display: inline-block;
        min-width: 140px;
        height: rem(44px);
        font-size: 1.2em;
        line-height: rem(44px);
        padding: 0 rem(15px);
        background-color: $cl_main--emphasis;
        color: white;
        text-align: left;
        position: relative;
        padding-right: rem(54px);
        margin-bottom: 1em ;
        &:after {
          content: "\f017";
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          text-align: center;
          @extend %font-icon;
          transition: all 200ms;
          z-index: 200;
          padding: 0 rem(12px);
          font-size: rem(18px);
          line-height: rem(45px);
        }
        &:hover {
          background-color: $cl_main;
        }
        @include bp(tablet) {
            height: rem(64px);
            font-size: 1.4em;
            line-height: rem(64px);
            &:after {
              font-size: rem(24px);
              line-height: rem(64px);
            }
        }
        @include bp(desktop) {
            height: rem(44px);
            font-size: 1.2em;
            line-height: rem(44px);
            &:after {
              font-size: rem(18px);
              line-height: rem(45px);
            }
        }
    }
    span[data-cal-date] {
        @include bp(phone) {
            width: 100%;
            text-align: center;
            margin-right: 0;
        }
    }
    .cal-year-box [class*="span"] {
        border-bottom: 1px solid #e1e1e1;
        @include bp(phone) {
            min-height: 100px;
        }
    }
    .badge {
        @include bp(phone) {
            display: block;
            width: 100%;
            margin-top: 20px;
            border-radius: 0;
        }
    }
}
// CALENDAR // EN
// /// SETTINGS END


// /// /// /// /// /// /// /// //
// /// SELECT2 OVERRIDES
// /// we add .sln-select to .select2-container
// /// /// /// /// /// /// /// //
$input-height: 40px;
$input-fsize: 16px;
.select2-container.sln-select,
.select2-container-multi.sln-select  {
    .select2-choice, .select2-choices {
        height: $input-height;
        line-height: $input-height;
        background-image: none;
        font-size: $input-fsize;
        border-radius: 4px;
        border: 1px solid #ddd;
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
        box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
        background-color: #fff;
        color: #32373c;
        outline: 0;
        -webkit-transition: .05s border-color ease-in-out;
        transition: .05s border-color ease-in-out;
        .select2-arrow {
            width: 18px;
            height: 30px;
            position: absolute;
            right: 10px;
            top: calc(50% - 30px);
            border-left: none;
            border-radius: 0;
            background: transparent;
        }
    }
}
.select2-container-multi.sln-select {
    .select2-choices {
        padding: 2px 0;
        .select2-search-choice {
            padding: 0 40px 0 10px;
            line-height: $input-height;
            background-color: #eee;
            background-image: none;
            border: none;
            .select2-search-choice-close {
                width: 26px;
                height: 100%;
                left: initial;
                top: 0;
                right: 0;
                background-image: none;
                background-color: #e4e4e4;
                color: $ca-red;
                text-decoration: none;
                &:before {
                    display: block;
                    content: "x";
                    font-size: 16px;
                    font-weight: bold;
                    line-height: calc($input-height - 2px);
                    text-align: center;
                }
                &:hover {
                background-color: $ca-red;
                color: #fff;
                }
            }
        }
    }
}
.select2-results  {
    font-size: $input-fsize;
}
.select2-results .select2-result-label {
    line-height: $input-height;
}
.sln-select-wrapper {
    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        padding: 0;
    }
    .select2-container--default .select2-selection--single {
        height: $input-height;
        line-height: $input-height;
        background-image: none;
        font-size: $input-fsize;
        border-radius: 4px;
        border: 1px solid #ddd;
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
        box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
        background-color: #fff;
        color: #32373c;
        outline: 0;
        -webkit-transition: .05s border-color ease-in-out;
        transition: .05s border-color ease-in-out;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {top: calc(50% - 13px);}
    .select2-container--default .select2-selection--single .select2-selection__rendered {line-height: $input-height;}
    .select2-container--default .select2-selection--multiple {
        border-color: #ddd;
        font-size: $input-fsize;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
            padding: 0 40px 0 10px;
            margin-left: 7px;
            margin-top: 8px;
            line-height: 30px;
            background-color: #eee;
            background-image: none;
            border: none;
            position: relative;
            .select2-selection__choice__remove {
                position: absolute;
                width: 26px;
                height: 100%;
                left: initial;
                top: 0;
                right: 0;
                background-image: none;
                background-color: #e4e4e4;
                color: $ca-red;
                text-decoration: none;
                &:before {
                    display: block;
                    content: "x";
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 30px;
                    text-align: center;
                }
                &:hover {
                background-color: $ca-red;
                color: #fff;
                }
            }
        }
        .select2-container--default.select2-container--focus .select2-selection--multiple {
            border:solid $ca-blue 1px;
            outline:0;
        }
        .select2-container--default .select2-search--inline .select2-search__field {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
}
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple,
.select2-search--dropdown {
    position: relative;
    &:before {
        position: absolute;
        right: 10px;
        top: calc(50% - 13px);
        width: 26px;
        height: 26px;
        display: block;
        content: "\e003";
        font-weight: bold;
        line-height: 26px;
        text-align: center;
        font-family: 'Glyphicons Halflings';
        font-size: 14px;
        color: #999;
    }
}
.select2-container--default .select2-selection--multiple {
    &:before {color: #ccc;}
    &:hover {
        &:before {color: #999;}
    }
}
// /// SELECT2 OVERRIDES END

