@import 'normalize';
@import 'settings-mixins';
@import 'colors';
@import 'typo';
@import 'components/utilities';
@import 'components/inputs';
@import 'components/buttons';
@import 'components/stepper';
#sln-salon {
	border-width: 1px;
	border-style: solid;
	@extend %bd-color--contrast--alpha;
	h2 {
		@include font-bigger();
	}
	padding: rem(40px);
	position: relative;
	//margin-right: auto;
	//margin-left: auto;
	@extend %bgc-color--main;
	@extend %text-color--contrast;
	// SIZES
	&.sln-salon--l {max-width: 900px;}
	&.sln-salon--m {max-width: 600px;}
	&.sln-salon--s {max-width: 400px;}

	> form {
		margin-top: rem(60);
		h2 {margin-bottom: rem(20);}
	}

	// TEMP
	//h1 {font-size: 1.4em;}
	//h1, h2{@extend %text-color--contrast;}
// // // #sln-salon // END
}
// GENERAL
h1, h2, h3, h4, h5, h6 {
	&[class^="col-"] {
		clear: none;
		margin-top: 0;
		margin-bottom: 0;
		word-wrap: initial;
	}
}
.sln-steps {
	margin-bottom: rem(40);
}
.sln-steps-name, .sln-steps-price {
	@extend %text-color--contrast;
	@extend %sln-title--medium;
	margin-top: 0;
	margin-bottom: 0;
}
.sln-steps-info,
.sln-steps-description {
	label {font-weight: normal;}
}
.sln-steps-description {
	@extend %text-color--dark;
	border-top-style: dashed;
	border-top-width: rem(1);
	margin-top: rem(10);
	padding-top: rem(10);
	@extend %bd-color--contrast;
}
.sln-steps-price {
	display: block;
	text-align: right;
}

.sln-steps-name, .sln-steps-price {
}
.sln-list--dashed {
	list-style: none;
	display: inline-block;
	margin-bottom: rem(20);
	margin-left: 0;
    padding-left: 0;
	li {
		padding-bottom: rem(7);
		margin-bottom: rem(14);
		border-bottom-style: dotted;
		border-bottom-width: rem(1);
		@extend %bd-color--contrast--alpha;
		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: 0;
		}
	}
}
#sln-salon.sln-salon--s .sln-list--dashed  {
	display: block;
}
// GENERAL // END

// SERVICES
.sln-service {
	margin-bottom: rem(40);
}
// SERVICES // END

// ATTENDANTS
.sln-attendant {margin-bottom: rem(80);}
// ATTENDANTS // END

// SUMMARY
.sln-summary {margin-top: rem(20);}
.sln-summary-row {
	padding: 0 0 rem(20) 0;
	margin-bottom: rem(20);
	.label {
		@extend %text-color--dark;
		font-weight: normal;
		padding: 0;
	}
	.sln-steps-name, .sln-steps-price{margin-bottom: 0;}
	hr {
		margin: rem(10) 0 0 0;
		border: 0;
		border-bottom-style: solid;
		border-bottom-width: rem(1);
		@extend %bd-color--contrast--alpha;
	}
	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		hr {display: none;}
	}
}
.sln-step-summary {
	.sln-total {margin-bottom: rem(40);}
}
#sln-salon.sln-salon--s .sln-summary-row {
	margin-bottom: 0;
	.sln-steps-price {
		text-align: left;
		margin: rem(10) 0;
	}
}
// SUMMARY // END

// THANK YOU
.sln-thankyou {
	margin-top: rem(40);
	.sln-form-actions-wrapper {
		margin-top: rem(50);
	}
}
#sln-salon .sln-thankyou--okbox {
	margin-top: rem(20);
	padding: rem(80) 0 rem(60) 0;
	@extend %bgc-color--ok;
	//> div {text-align: center;}
	h1 {
	}
	h1 {
		@extend %text-color--contrast;
	}
	h2 {
		padding: 0 rem(10) 0 rem(70);
		@extend %text-color--contrast;
	}
	h3 {
		@extend %text-color--contrast;
	}
	h2, h3 {
		font-weight: bold;
		display: inline-block;
	}
	hr {
		margin: rem(20) 0 rem(10) 0;
		border: 0;
		border-bottom-style: solid;
		border-bottom-width: rem(1);
		@extend %bd-color--contrast--alpha;
	}
	.sln-icon {@extend %text-color--contrast;}
}
.sln-form-actions {
	margin-bottom: rem(20);
}
.sln-payment-actions {
	h4 {
		@extend %text-color--contrast;
		margin-top: rem(20);
	}
}

#sln-salon.sln-salon--s .sln-thankyou {
	.sln-thankyou--okbox {
		margin-top: rem(20);
		padding: rem(60) 0;
		h1, h2, h3 {text-align: center;}
		h2, h3 {
			display: block;
		}
		hr {
			margin: rem(30) 0 rem(20) 0;
		}
	}
	.sln-icon-wrapper {
		padding-top: rem(80);
		padding-left: 0;
		text-align: center;
		.sln-icon {
			top: 0;
			@extend %absolute-horizontal-centering;
		}
	}
}
// THANK YOU // END

// ICONS // END
.sln-icon-wrapper {
	position: relative;
	padding-left: rem(70);
	.sln-icon {
		position: absolute;
		left: 0;
		@extend %absolute-vertical-centering;
	}
}
// ICONS // END
// MOD AND OVERRIDES BY SIZE
#sln-salon.sln-salon--m,
#sln-salon.sln-salon--s {
	.sln-steps-description {
		//border: none;
		//margin-top: 0;
	}
	.sln-attendants-wrapper {
		border-bottom-style: solid;
		border-bottom-width: rem(3);
		@extend %bd-color--contrast;
		padding-bottom: rem(10);
		margin-bottom: rem(30);
	}
}
// MOD AND OVERRIDES BY SIZE // END

// TOTAL ROW
.sln-total {

}
.sln-total-price {text-align: right;}
.sln-total-label, .sln-total-price {
	border-top-style: solid;
	border-top-width: rem(3);
	@extend %bd-color--contrast;
	@extend %text-color--dark;
	padding-top: rem(10);
	margin-top: rem(30);
}
// TOTAL ROW // END
%testextend {background-color: red;}
@mixin testmixin () {background-color: blue;}
:matches(#sln-salon--admin, .sln-calendar--wrapper) {
	.test1 {@extend %testextend;}
	.test2 {@extend %testextend;}
	.test3 {@extend %testextend;}
	.test4 {@include testmixin;}
	.test5 {@include testmixin;}
	.test6 {@include testmixin;}
}

#sln-notifications {
	@include transition(background 250ms, opacity 200ms);
	background: rgba(255, 0, 0, 0);
	opacity: 0;
	&.sln-notifications--active {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $sln-color--main--noalpha;
		opacity: .75;
	}
}

.sln-box--main {
	margin-top: rem(40px);
	margin-bottom: rem(60px);
}


// TEMPORARY STUFF
.title_outer.title_without_animation {display: none;}
.content .content_inner > .container {
	padding-top: 10rem;
	padding-bottom: 20rem;
	background-color: none !important;
	background-image: url('http://salon.wordpresschef.it/wp-content/uploads/2016/01/salon-booking-plugin-booking-form-background.jpg');
	background-size: cover;
}