@import "bootstrap.less";

.sln_meta_field {
    display: block;
}

.sln-date select {
    width: auto
}

.sln-clear {
    display: block;
    clear: both;
    height: 1px;
    width: 100%;
}

#sln-availabilities div.item {
    border: 1px solid #dfdfdf;
    padding: 10px;
    margin: 2px;
}

.sln-tab {
    border: 1px solid #ccc;
    border-top-width: 0;
    background: #f1f1f1;
    padding: 30px;
    .form-group label input {
        display: inline-block;
        margin-top: -3px
    }
}

.sln-separator {
    height: 1px;
    border-top: 1px dashed #666;
    margin: 20px auto;
    width: 80%;
    clear: both;
}