.sln-calendar-view {
	background-color: #fff;
	margin: 0;
	@extend %zi-base;
	font-size: $font-size-base;
	.btn-group {margin-top: 0;}
	#calendar {
		@extend %zi-fondo;
	}

	#cal-day-box {
		@extend %zi-grafica;
	}
	#cal-day-panel {
		@extend %zi-highlights;
	}
	#cal-slide-content {
		background-color: alpha-tones($cl_main--light, .5);
		a.event-item {
			position: relative;
			.sln-calendar-event-callto {display: none;}
			&:hover {
				.sln-calendar-event-callto {display: block;}
			}
		}
		.sln-calendar-event-callto {
			display: inline-block;
			position: absolute;
			left: calc(100% + 14px);
			top: calc(50% - 15px);
			white-space: nowrap;
			//border: 4px solid $cl_main--emphasis;
			background-color: $cl_main--emphasis;
			color: $cl_main--white;
			padding: 0 rem(54px) 0  rem(20px);
			line-height: 30px;
			@extend %font-big;
			//@include b-radius(4px);
			&:before {
				display: block;
				content: '';
				width: 24px;
				height: 24px;
				position: absolute;
				left: - 8px;
				top: calc(50% - 8px);
				//background-color: $cl_main--emphasis;
				//-ms-transform: rotate(45deg);
			    //-webkit-transform: rotate(45deg);
			    //transform: rotate(45deg);
			    width: 0;
				height: 0;
				border-top: 8px solid transparent;
				border-bottom: 8px solid transparent;
				border-right: 8px solid $cl_main--emphasis;
			}
			 &:after {
				content: "\f013";
				display: inline-block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				text-align: center;
				@extend %font-icon;
				@include transition(background-color 200ms, color 300ms);
				z-index: 200;
				padding: 0 rem(12px);
        		font-size: rem(18px);
        		line-height: rem(45px);
			}
		}
	}
	.cal-day-pagination {
		.btn {
			margin: 0 3px !important;
			padding: 0 !important;
			width: 18px;
			height: 18px;
			border-radius: 50% !important;

			&.active {
				background-color: $cl_ok;
			}
		}
	}
	.cal-day-hour-part:hover {
		background-color: rgba(122, 158, 208, 0.76);
	}
// .sln-calendar-view // END
}