.sln-btn {
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 200ms, color 300ms;
  text-decoration: none;
  position: relative;
  @extend %zi-navigazione;
  input {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    z-index: 500;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
// SIZES
.sln-btn--fullwidth {width: 100%;}
.sln-btn--big, .sln-btn--big input {
  display: inline-block;
  padding: 0 rem(20px);
  height:  rem(56px);
  min-width: rem(240px);
  @extend %font-big;
  line-height: rem(56px);
  @include bp(phone) {font-size: rem(16px);}
}
.sln-btn--medium, .sln-btn--medium input {
  display: inline-block;
  min-width: 90px;
  height: rem(44px);
  @extend %font-medium;
  line-height: rem(44px);
  padding: 0 rem(15px);
}
.sln-btn--small {
  display: inline-block;
  height: rem(30px);
  @extend %font-medium;
  font-size: 14px;
  line-height: rem(30px);
  padding: 0 10px;
  &.sln-btn--icon {
    width: 1.8rem;
    height: 1.8rem;
    @include b-radius(50%);
    overflow: hidden;
    font-size: 0px;
    line-height: 0;
    &:after {
      left: 0;
      top: 0;
      font-size: 1.8rem;
    line-height: 1.8rem;
    }
  }
}
.sln-btn--small--round {
  display: inline-block;
  height: rem(40px);
  @extend %font-medium;
  font-size: 14px;
  line-height: rem(40px);
  padding: 0 10px;
  @include b-radius(50%);
  &.sln-btn--icon {
    width: rem(60px);
    height: rem(60px);
    text-indent: -100px;
    overflow: hidden;
    &:after {
      left: rem(46px);
      top: calc(50% - 18px);
      font-size: rem(30px);
    }
  }
}

// COLORS
.sln-btn--main {
  background-color: $cl_main--emphasis;
  color: white;
  input {color: white;}
  &:hover {
    background-color: $cl_main;
  }
  &.sln-btn--small.sln-btn--icon {
    background-color: transparent;
    &:after {color: $cl_main--emphasis;}
    &:hover {
      background-color: transparent;
      &:after {color: $cl_main;}
    }
  }
}
.sln-btn--warning {
  background-color: $cl_warning;
  color: white;
  input {color: white;}
  &:hover {
    background-color: $cl_main;
  }
}
.sln-btn--problem {
  background-color: $cl_problem--light;
  color: white;
  input {color: white;}
  &:hover {
    background-color: $cl_main;
  }
}
.sln-btn--ok {
  background-color: $cl_ok;
  color: white;
  input {color: white;}
  &:hover {
    background-color: $cl_main;
  }
}
.sln-btn--borderonly {
  background-color: transparent;
  color: $cl_main;
  input {color: $cl_main;}
  border: 1px solid #c5cfd4;
  &.sln-btn--icon:after {color: $cl_main;}
  &.sln-btn--active {border: 1px solid $cl_main;}
  &:hover {
    border-color: $cl_main;
    background-color: $cl_main;
    color: #fff;
    &.sln-btn--icon:after {color: #fff;}
  }
}
.sln-btn--nobkg {
  background-color: transparent;
  color: $cl_main;
  input {color: $cl_main;}
  &.sln-btn--icon:after {color: $cl_main;}
  &.sln-btn--active {border: 1px solid $cl_main;}
  &:hover {
    border-color: $cl_main;
    background-color: $cl_main;
    color: #fff;
    &.sln-btn--icon:after {color: #fff;}
  }
}

.sln-btn--icon {
    text-align: left;
    position: relative;
    input {text-align: left;}
    &:after {
      content: "\f111";
      display: inline-block;
      position: absolute;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      @extend %font-icon;
      transition: all 200ms;
      z-index: 200;
    }
    &.sln-btn--big {
      padding-right: rem(64px);
      &:after {
        padding: 0 rem(12px);
        line-height: rem(54px);
      }
    }
    &.sln-btn--medium {
      padding-right: rem(54px);
      &:after {
        padding: 0 rem(12px);
        font-size: rem(18px);
        line-height: rem(40px);
      }
    }
}

.sln-icon--calendar {
  &:after {
    content: "\f073";
  }
}
.sln-icon--booking {
  &:after {
    content: "\f017";
  }
}
.sln-icon--services {
  &:after {
    content: "\f0c4";
  }
}
.sln-icon--assistants {
  &:after {
    content: "\f0c0";
  }
}
.sln-icon--settings {
  &:after {
    content: "\f013";
  }
}
.sln-icon--tools {
  &:after {
    content: "\f0ad";
  }
}
.sln-icon--save {
  &:after {
    content: "\f0c7";
  }
}
.sln-icon--info {
  &:after {
    content: "\f05a";
  }
}
.sln-icon--close {
  &:after {
    content: "\f00d";
  }
}

h2.nav-tab-wrapper .nav-tab {
    @extend .sln-btn;
    @extend .sln-btn--borderonly;
    @extend .sln-btn--medium;
    margin: 0;
    &:not(.nav-tab-active):not(:last-of-type)  {
      border-right: none;
    }
    @include bp(phone) {
      display: block;
      border-right: inherit;
    }
}
h2.nav-tab-wrapper .nav-tab.nav-tab-active {
    @extend .sln-btn--active;
}

.sln-admin-nav {
  //@extend %display-flex;
  display: block;
  float: right;
  margin-bottom: rem(40px);
  li{float: left;}
  a {
      @extend .sln-btn;
      @extend .sln-btn--nobkg;
      @extend .sln-btn--medium;
      margin: 0;
      border-right: none;
      &.current {@extend .sln-btn--active;}
  }
}
// TOOBOX
.sln-toolbox {
  background-color: alpha-tones($cl_main, .9);
  max-width: 100%;
  float: right;
  margin-top: 0;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 100%;
  margin-top: rem(20px);
  max-height:  rem(59px);

  overflow: hidden;
  @extend %zi-navigazione;
  @include transition(max-height 500ms, padding 200ms);
  .sln-btn {opacity: 0; @include transition(opacity 200ms);}
    &.open {
      max-height:  600px;
      .sln-btn {opacity: 1;}
      .sln-toolbox-trigger {
        opacity: .75;
        &:hover {opacity: 1;}
      }
    }
  &:not(.open) {max-height: 0px; padding: 0;}
  .sln-btn {margin-bottom: rem(4px);}
  @include bp(tablet) {
    max-width: 300px;
    float: right;
    margin-top: 0;
    position: absolute;
    right: 0;
    bottom: 99%;
    background-color: alpha-tones($cl_main, .85);
    &:not(.open) {max-height: 0px;}
  }
  @include bp(desktop) {
    float: none;
    position: relative;
    bottom: initial;
    margin-top: rem(20px);
    max-height:  rem(59px);
    background-color: alpha-tones($cl_main, 0);
    &:not(.open) {max-height: rem(59px);}
    .sln-toolbox-trigger {
      opacity: 1;
      @include transition(opacity 250ms);
    }
  }
}
// TOOLBOX // END

// WP BUTTONS
  p.submit {
    @extend .sln-btn;
    @extend .sln-btn--main;
    @extend .sln-btn--big;
    @extend .sln-btn--icon;
    @extend .sln-icon--save;
    border-radius: 0;
  }