.sln-btn,
.sln-bootstrap .sln-btn {
  text-align: center;
  border: none;
  cursor: pointer;
  @include transition(background-color 200ms, color 300ms);
  text-decoration: none;
  position: relative;
  @extend %zi-navigazione;
  input, button {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    z-index: 500;
    border: none;
    background-color: transparent;
    cursor: pointer;
    @include transition(background-color 200ms, color 300ms);
  }
  &:hover, &:focus {
    text-decoration: none;
    text-shadow: none;
    outline: none;
  }
}
// SIZES
.sln-btn--fullwidth {width: 100%;}
.sln-btn--big, .sln-btn--big input, .sln-btn--big button {
  display: inline-block;
  padding: rem(10px) rem(24px);
  height:  rem(80px);
  min-width: rem(320px);
  @extend %font-bigger;
  line-height: rem(56px);
  @include bp(phone) {font-size: rem(18px);}
  @include bp(desktop) {
    padding: 0 rem(20px);
    height:  rem(56px);
    min-width: rem(240px);
    font-size: rem(18px);
    height:  rem(56px);
  }
  &.sln-btn--block {display: block;}
}
.sln-btn--large, .sln-btn--large input, .sln-btn--large button {
  display: inline-block;
  min-width: 120px;
  height: rem(66px);
  @extend %font-big;
  font-size: rem(20px);
  line-height: rem(66px);
  padding: 0 rem(15px);
  &.sln-btn--block {display: block;}
  @include bp(desktop) {
    min-width: 90px;
    height: rem(44px);
    line-height: rem(44px);
    font-size: rem(16px);
  }
}
.sln-btn--medium, .sln-btn--medium input, .sln-btn--medium button {
  display: inline-block;
  min-width: 90px;
  height: rem(44px);
  @extend %font-medium;
  line-height: rem(44px);
  padding: 0 rem(15px);
  &.sln-btn--block {display: block;}
}
.sln-btn--small {
  display: inline-block;
  height: rem(30px);
  @extend %font-medium;
  font-size: 14px;
  line-height: rem(30px);
  padding: 0 10px;
  &.sln-btn--icon {
    width: 1.8rem;
    height: 1.8rem;
    @include b-radius(50%);
    overflow: hidden;
    font-size: 0px;
    line-height: 0;
    &:after {
      left: 0;
      top: 0;
      font-size: 1.8rem;
    line-height: 1.8rem;
    }
  }
}
.sln-btn--small--round {
  display: inline-block;
  height: rem(40px);
  @extend %font-medium;
  font-size: 14px;
  line-height: rem(40px);
  padding: 0 10px;
  @include b-radius(50%);
  &.sln-btn--icon--old {
    width: rem(30px);
    height: rem(30px);
    font-size: rem(2px);
    overflow: hidden;
    &:after {
      width: rem(30px);
      height: rem(30px);
      line-height: rem(30px);
      background-color: $cl_main--emphasis;
      left: 0;
      top: 0;
      font-size: rem(26px);
    }
    &:hover:after, &:focus:after {
      background-color: $cl_main;
    }
  }
  &.sln-btn--icon {
    width: 40px;
    height: 40px;
    font-size: rem(2px);
    overflow: hidden;
    &:after {
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: $cl_main--emphasis;
      left: 0;
      top: 0;
      font-size: 18px;
    }
    &:hover:after, &:focus:after {
      background-color: $cl_main;
    }
  }
}

// COLORS
.sln-btn--main,
.sln-bootstrap .sln-btn--main {
  background-color: $cl_main--emphasis;
  color: $cl_main--white;
  input, button {color: $cl_main--white;}
  &:hover, &:focus {
    background-color: $cl_main;
    color: $cl_main--white;
    input, button {color: $cl_main--white;}
  }
  &.sln-btn--small.sln-btn--icon {
    background-color: transparent;
    &:after {color: $cl_main--emphasis;}
    &:hover {
      background-color: transparent;
      &:after {color: $cl_main;}
    }
  }
}
.sln-btn--light ,
.sln-bootstrap .sln-btn--light {
  background-color: $cl_main--light;
  color: $cl_main;
  input, button {color: $cl_main;}
  &:hover, &:focus {
    background-color: $cl_main;
    color: $cl_main--white;
    input, button {color: $cl_main--white;}
  }
  &.sln-btn--active {
    background-color: $cl_main;
    color: $cl_main--white;
    input, button {color: $cl_main--white;}
      &:hover, &:focus {
        background-color: $cl_main--light;
        color: $cl_main;
        input, button {color: $cl_main;}
    }
  }
  &.sln-btn--small.sln-btn--icon {
    background-color: transparent;
    &:after {color: $cl_main--light;}
    &:hover {
      background-color: transparent;
      &:after {color: $cl_main;}
    }
  }
}
.sln-btn--warning,
.sln-bootstrap .sln-btn--warning {
  background-color: $cl_warning;
  color: $cl_main--white;
  input, button {color: $cl_main--white;}
  &:hover, &:focus {
    background-color: $cl_main;
    color: $cl_main--white;
    input, button {color: $cl_main--white;}
  }
}
.sln-btn--problem,
.sln-bootstrap .sln-btn--problem {
  background-color: $cl_problem--light;
  color: $cl_main--white;
  input, button {color: $cl_main--white;}
  &:hover, &:focus {
    background-color: $cl_main;
    color: $cl_main--white;
    input, button {color: $cl_main--white;}
  }
}
.sln-btn--ok,
.sln-bootstrap .sln-btn--ok {
  background-color: $cl_ok;
  color: $cl_main--white;
  input, button {color: $cl_main--white;}
  &:hover, &:focus {
    background-color: $cl_main;
    color: $cl_main--white;
    input, button {color: $cl_main--white;}
  }
}
.sln-btn--borderonly,
.sln-bootstrap .sln-btn--borderonly {
  background-color: transparent;
  color: $cl_main;
  input, button {color: $cl_main;}
  border: 1px solid $cl_main--light--border;
  &.sln-btn--icon:after {color: $cl_main;}
  &.sln-btn--active {border: 1px solid $cl_main;}
  &:hover, &:focus {
    border-color: $cl_main;
    background-color: $cl_main;
    color: $cl_main--white;
    input, button {color: $cl_main--white;}
    &.sln-btn--icon:after {color: $cl_main--white;}
  }
}
.sln-btn--nobkg,
.sln-bootstrap .sln-btn--nobkg {
  background-color: transparent;
  border: 1px solid transparent;
  color: $cl_main;
  input, button {color: $cl_main;}
  &.sln-btn--icon:after {color: $cl_main;}
  &.sln-btn--active {border: 1px solid $cl_main;}
  &:hover, &:focus {
    border-color: $cl_main;
    background-color: $cl_main;
    color: $cl_main--white;
    input, button {color: $cl_main--white;}
    &.sln-btn--icon:after {color: $cl_main--white;}
  }
}

.sln-btn--icon {
    text-align: left;
    position: relative;
    input, button {text-align: left;}
    &:after {
      content: "\f111";
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      @extend %font-icon;
      @include transition(background-color 200ms, color 300ms);
      z-index: 200;
    }
    &.sln-btn--big {
      padding-right: rem(64px);
      &:after {
        padding: rem(12px) rem(24px);
        line-height: rem(54px);
      }
      @include bp(desktop) {
        &:after {
          padding: 0 rem(12px);
          line-height: rem(54px);
        }
      }
    }
    &.sln-btn--medium {
      padding-right: rem(54px);
      &:after {
        padding: 0 rem(12px);
        font-size: rem(18px);
        line-height: rem(40px);
      }
    }
    &.sln-btn--large {
      padding-right: rem(154px);
      &:after {
        padding: 0 rem(12px);
        font-size: rem(18px);
        line-height: rem(66px);
      }
    }
    &.sln-btn--icon--left {
      button {text-align: right;}
      &:after {
        top: 0;
        right: auto;
        right: initial;
        bottom: 0;
        left: 0;
      }
      &.sln-btn--big {
        padding-right: inherit;
        padding-left: rem(64px);
        &:after {
          padding: 0 rem(12px);
          line-height: rem(54px);
        }
      }
      &.sln-btn--medium {
        padding-right: inherit;
        padding-left: rem(54px);
        &:after {
          padding: 0 rem(12px);
          font-size: rem(18px);
          line-height: rem(40px);
        }
      }
    }
}

.sln-icon--calendar {
  &:after {
    content: "\f073";
  }
}
.sln-icon--booking {
  &:after {
    content: "\f017";
  }
}
.sln-icon--services {
  &:after {
    content: "\f0c4";
  }
}
.sln-icon--assistants {
  &:after {
    content: "\f0c0";
  }
}
.sln-icon--settings {
  &:after {
    content: "\f013";
  }
}
.sln-icon--tools {
  &:after {
    content: "\f0ad";
  }
}
.sln-icon--save {
  &:after {
    content: "\f0c7";
  }
}
.sln-icon--info {
  &:after {
    content: "\f05a";
  }
}
.sln-icon--close {
  &:after {
    content: "\f00d";
  }
}
.sln-icon--trash {
  &:after {
    content: "\f014";
  }
}
.sln-icon--file {
  &:after {
    content: "\f0f6";
  }
}
.sln-icon--warning {
  &:after {
    content: "\f12a";
    font-size: rem(28px);
  }
}

.sln-icon--arrow--up {
  &:after {
    content: "\f077";
    font-size: rem(28px);
  }
}
.sln-icon--arrow--down {
  &:after {
    content: "\f078";
    font-size: rem(28px);
  }
}

.sln-icon--arrow--left {
  &:after {
    content: "\f053";
    line-height: rem(46px) !important;
  }
  &.sln-btn--large {
      &:after {line-height: rem(66px) !important;}
  }
  @include bp(desktop) {
    &.sln-btn--large:after {line-height: rem(46px) !important;}
  }
}
.sln-icon--arrow--right {
  &:after {
    content: "\f054";
    line-height: rem(46px) !important;
  }
  &.sln-btn--large {
      &:after {line-height: rem(66px) !important;}
  }
  @include bp(desktop) {
    &.sln-btn--large:after {line-height: rem(46px) !important;}
  }
}

// BTN UTILITIES
.sln-btn--disabled {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}
// BTN UTILITIES // END

.sln-nav-tab-wrapper.nav-tab-wrapper .nav-tab,
h2.sln-nav-tab-wrapper.nav-tab-wrapper .nav-tab {
    @extend .sln-btn;
    @extend .sln-btn--borderonly;
    @extend .sln-btn--medium;
    font-size: rem(18px);
    font-weight: normal;
    margin: 0;
    &:not(.nav-tab-active):not(:last-of-type)  {
      @include bp(tablet) {
        border-right: none;
      }
    }
    @include bp(phone) {
      display: block;
      border-right: inherit;
    }
}
.sln-nav-tab-wrapper.nav-tab-wrapper .nav-tab.nav-tab-active,
h2.sln-nav-tab-wrapper.nav-tab-wrapper .nav-tab.nav-tab-active {
    @extend .sln-btn--active;
}
.btn-group.sln-nav-tab-wrapper.nav-tab-wrapper .active {
    @extend .sln-btn--ok;
}

#sln-salon--admin .col-sm-12.sln-admin-nav,
#sln-salon--admin .col-md-12.sln-admin-nav,
.sln-admin-nav {
  //@extend %display-flex;
  display: block;
  margin-bottom: rem(40px);
  li{float: left;}
  a {
      @extend .sln-btn;
      @extend .sln-btn--nobkg;
      @extend .sln-btn--medium;
      font-size: rem(18px) !important;
      min-width: 120px;
      margin: 0;
      border-right: none;
      &.current {@extend .sln-btn--active;}
  }
    @include bp(desktop) {
      float: right;
      position: absolute;
      text-outline: 0;
      right: 10px;
    }
}

.sln-tab-nav {
  display: block;
  border-bottom: none;
  li{
      margin-bottom: 0;
      display: block;
      a {
          @extend .sln-btn;
          @extend .sln-btn--borderonly;
          @extend .sln-btn--medium;
          display: block;
          font-size: rem(18px);
          font-weight: normal;
          margin: 0;
      }
    &.active a {@extend .sln-btn--active;}
  }
  @include bp(phone) {
    li:not(.active):not(:last-of-type)  {
      a {border-bottom-color: transparent;}
    }
  }
  @include bp(tablet) {
    li{
      float: left;
      margin-bottom: rem(40px);
      display: list-item;
      a {
        display: inline-block;
        font-size: rem(18px);
        font-weight: normal;
        margin: 0;
      }
      &:not(.active):not(:last-of-type)  {
        a {
          border-right-color: transparent;
        }
      }
    }
  }
}
// TOOBOX
.sln-toolbox {
  background-color: alpha-tones($cl_main, .9);
  max-width: 100%;
  float: right;
  margin-top: 0;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 100%;
  margin-top: rem(20px);
  max-height:  rem(59px);

  overflow: hidden;
  @extend %zi-navigazione;
  @include transition(max-height 500ms, padding 200ms);
  .sln-btn {opacity: 0; @include transition(opacity 200ms);}
    &.open {
      max-height:  600px;
      .sln-btn {opacity: 1;}
      .sln-toolbox-trigger {
        opacity: .75;
        text-align: left;
        &:hover {opacity: 1;}
      }
    }
  &:not(.open) {max-height: 0px; padding: 0;}
  .sln-btn {margin-bottom: rem(4px); width: 100%;}
  @include bp(tablet) {
    max-width: 300px;
    float: right;
    margin-top: 0;
    position: absolute;
    right: 0;
    bottom: 99%;
    background-color: alpha-tones($cl_main, .85);
    &:not(.open) {max-height: 0px;}
  }
  @include bp(desktop) {
    float: none;
    position: relative;
    bottom: auto;
    bottom: initial;
    margin-top: rem(20px);
    max-height:  rem(59px);
    background-color: alpha-tones($cl_main, 0);
    &:not(.open) {max-height: rem(59px);}
    .sln-toolbox-trigger {
      opacity: 1;
      text-align: left;
      @include transition(opacity 250ms);
    }
  }
}
// TOOLBOX // END

// WP BUTTONS
#{$wrapper} {
  p.submit {
    @extend .sln-btn;
    @extend .sln-btn--main;
    @extend .sln-btn--big;
    @extend .sln-btn--icon;
    @extend .sln-icon--save;
    border-radius: 0;
  }
}