
// VARIABLES
$color-white: #fff;
$color-bg: #f8f8f8;
$color-high: #076b9d;
$color-mid: #666;
$color-low: #999;
$bg-high: #eee;
$bg-contrast-high: #ddd;

$icon-color-green: green;
$icon-color-yellow: #FF9D03;

$text-blue: #004664;
$text-green: #9AC91C;
$text-dark: #141412;
$text-medium: #555555;

$ca-red: #d51e26;
$ca-red-h: #ff000b;
$ca-grey: #ebebeb;
$ca-blue: #428bca;

$cl_main: rgb(0,53,83);
$cl_main--medium: #4c7186;
$cl_main--light: #c7dff3;
$cl_main--emphasis: #0C6EB6;
$cl_problem: #D22221;
$cl_problem--light: #e63f24;
$cl_warning: #f5b025;
$cl_warning--light: #f7c65f;
$cl_ok: #5bc24c;


#sln-salon-my-account {
    h1 {
      color: #333;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.1em;
      margin: 1em 0 2em 0;
      .icocal {
          margin-left: 30px;
          margin-top: 0px;
          position: absolute;
          display: inline-block;
      }
    }
    .btn:hover {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    .nav {
      li {
        padding: 0 !important;
      }
      li.active a {
        background-color: #f4f4f4 !important;
      }
      li:not(.active) a {
        background-color: #d6d6d6 !important;
      }
      li a, li div {
        border-radius: 0px;
        padding: 20px 15px;
        font-weight: normal;
        color: #555555 !important;
      }
      li div {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid transparent;
        padding: 10px 15px;
        font-size: x-large;
      }
    }
    .sln-salon-my-account-tab-content {
      background-color: #f4f4f4
    }
    .sln-salon-my-account-tab-pane {
      padding: 20px !important;
    }
    .hint {
      font-size: larger;
      color: #b9b9b9;
      text-align: center;
      padding: 20px 20% 20px 20%;
    }
    .table {
      border: none !important;
      tr {
        border: none !important;
      }
      td {
        color: #555555;
        text-align: center;
      }
      thead td {
        text-align: center;
        text-transform: uppercase;
        border: none !important;
        border-bottom: 2px solid #4c4c4c !important;
        font-size: .7em;
      }
      tbody td {
        border: none !important;
        border-bottom: 2px solid #4c4c4c !important;
        font-size: 13px !important;
      }
      tbody tr td:nth-child(6) {
        text-transform: uppercase;
      }
    }

    h3 {
      color: black;
      margin: 20px 0px;
    }

    .status {
      display: inline-block;
    }

    .success {
      background-color: $cl_ok;
    }

    .warning,
    .info {
      background-color: $cl_warning;
    }
    .danger {
      background-color: red;
    }
    .disabled {
      background-color: grey;
    }

    button {
      text-transform: uppercase;
    }

    .tooltip.right {
      .tooltip-inner {
        box-shadow: 1px 1px rgba(205, 205, 205,1), 2px 2px rgba(205, 205, 205,1), 3px 3px rgba(205, 205, 205,1), -1px -1px rgba(205, 205, 205,1);
        color: black;
        background-color: #ebebeb !important;
        padding: 10px;
        border: 3px;
        min-width: 100px;
        width: auto;
      }
      .tooltip-inner strong {
        color: black;
      }
      .tooltip-arrow {
        border-right-color: rgb(205, 205, 205) !important;
      }
    }
    .tooltip.top {
      .tooltip-inner {
        background-color: #919FA7 !important;
        max-width: 160px;
        text-transform: none;
        text-align: left;
      }
      .tooltip-arrow {
        border-top-color: #919FA7 !important;
      }
    }
    .tooltip.in {
      opacity: 1;
    }

    .btn {
      background-color: silver;
    }
    .btn.btn-confirm {
        background-color: $ca-red;
        color: $color-white;
        &:hover {
          background-color: $ca-red-h;
        }
    }

    .btn .glyphicon {
      opacity:  1       !important;
      position: auto !important;
      position: initial !important;
      top:      1px     !important;
      color:    inherit !important;
      font-size: 11px;
      vertical-align: inherit !important;
      -webkit-transition: inherit !important;
      -moz-transition: inherit !important;
      -o-transition: inherit !important;
      transition: inherit !important;
    }

    .btn {
      padding:          4px 8px 6px !important;
      font-variant:     small-caps  !important;
      text-transform:   lowercase   !important;
      color:            $color-white        !important;
      width:            auto        !important;
    }

    .glyphicon-ring {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #b6b6b6;
      color: #b6b6b6;
      display: inline-table;
      text-align: center;
    }
    .glyphicon-ring .glyphicon-bordered {
      font-size: 20px;
      vertical-align: middle;
      display: table-cell;
    }

    .sln-rate-service {
      background-color: $cl_warning     !important;
    }

    .sln-rate-service-on {
      margin: 0 3px 0 3px;
      color: #e8d826 !important;
    }
    .sln-rate-service-off {
      margin: 0 3px 0 3px;
      color: #d6d6d6 !important;
    }

    .rating {
      width:            auto;
      padding:          4px 8px 6px;
      border-radius:    3px;
      font-size:        16px;
      font-variant:     small-caps;
      text-transform:   lowercase;
      font-size:        14px;
      white-space:      nowrap;
    }
    .rating img {
      vertical-align: text-bottom;
    }
    .rating i {
      vertical-align: auto;
      vertical-align: initial;
      font-size: 11px;
      color: #e8d826;
    }

    .feedback {
      text-align: center;
    }

    .sln-my-account-message {
      display: block;
      border: solid 1px $bg-contrast-high;
      min-height: 52px;
      line-height: 52px;
      padding: 0 1em;
      margin: 1em 0 0 0;
      text-transform: uppercase;
      font-size: .7em;
      color: $color-high;
    }
    &.mobile-version {
      .sln-my-account-message {
        margin: 1em 0 0 0;
      }
      > div:first-child {margin-bottom: 2em;}
      thead {
        display: none;
      }
      .table-striped > tbody > tr:nth-of-type(even) {
        background-color: $color-white;
      }
      .table tr {
        display: block;
        margin: 1em 0 2em 0;
      }
      .table tbody tr td {
        width:        100%;
        display:      block;
        text-align:   left;
        border:       none;
        padding-right: 10px;
        padding-left: 10em;
        position:     relative;
        min-height: 52px;
        border-bottom: solid 1px $bg-contrast-high;
        &:last-child {border-bottom: none;}
      }
      .table tbody tr {
        border: solid 1px $bg-contrast-high;
      }
      td:nth-child(2),
      td:last-child {
        max-width: auto;
        max-width:  initial !important;
        width:      100% !important;
      }
      td:before {
        content:        attr(data-th) ": ";
        font-weight:    bold;
        text-transform: uppercase;
        color:          #0073a4;
        max-width:          10em;
        display:        inline-block;
        position:       absolute;
        left:           1em;
        @include ie11() {
          max-width: 12rem;
          left: 1.4rem;
        }
      }
      .status {
        margin-right: 80% !important;
      }
      .status ~ div {
        display: inline-block;
      }
       div {
        padding: 0;
      }
      .table-bordered {
        border: none;
      }
    }
    @media screen and (max-width: 767px) {
      //&:extend(.mobile-version all);
      h1 .icocal {display: none;}
    }
  }
// Bootstrap Modal Dialog // Start

#sln-salon #sln-salon-my-account {

	@media (min-width: 768px) {
		.modal-dialog {
			width: 560px;
		}
	}

	.modal-dialog {
		margin: 20% auto;
	}

	.modal-header {
		border-bottom: none;
	}

	.modal-footer {
		border-top: none;
	}

	.modal-content {
		border: none;
		border-radius: 2px;
		box-shadow: 0 2px 8px rgba(150, 150, 150, 0.3);
    padding-bottom: 4em;
	}
  &.mobile-version div.modal-content {
    padding: 0 0 8em 0;
    @include bp(tablet) {padding: 0 0 4em 0;}
  }

	#step1 {
		margin-top: 40px;

		p {
			margin: 0;
		}
	}

	#step2 {
		padding-top: 100px;

		p {
			margin: 0;
		}

		p:first-child {
			color: #0083C3;
		}

		p:last-child {
			margin-top: 20px;
		}
	}

	.modal-body {
	    padding: 0 50px;
	    height:  400px;

		button {

			display: block;
		    margin: 0 auto;
		    border-radius: 0 !important;
		    padding: 8px 24px !important;
			font-variant: normal !important;
      text-transform: auto;
			text-transform: initial !important;
			font-size: 18px;

			&.btn-primary {
			    background: #0083C3;
			    margin-top: 50px;
		    }

			&.btn-default {
				background: none;
				color: #0083C3 !important;
				text-decoration: underline;
				margin-bottom: 20px;
			}
		}

	}

	.modal {
		background-color: rgba(220, 220, 220, 0.4);

		button.close,
		button.close:hover {
		    background:    none;
		    border:        none;
		    position: relative;
		    color:         $color-white;
      opacity: auto;
			opacity:       initial;
			text-shadow:   none;
			margin: 10px 20px 0 0;

			&:before {
				content: "\00d7";
				border-radius: 50%;
				background: $text-medium;
				border: none;
				width: 20px;
				height: 20px;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
				line-height: 16px;
				font-size: 20px;
			}
		}



		textarea {
			width: 100%;
			resize: none;
			margin: 20px 0;
			border: none;
			background: #D2E5F6;
			padding: 16px;
			color: #36AEE8;
			border-radius: 2px;
			height: 140px;

				&::-webkit-input-placeholder { color: #36AEE8; }
				&::-moz-placeholder          { color: #36AEE8; }
				&:-moz-placeholder           { color: #36AEE8; }
				&:-ms-input-placeholder      { color: #36AEE8; }
				&::placeholder               { color: #36AEE8; }
				&::input-placeholder         { color: #36AEE8; }
		}

		.rating {
			display: inline-block !important;
			background: none;

			i {
				vertical-align: bottom;
				font-size:      24px;
				color:          #0083C3;
			}

			span {
				font-size: .9em;
			}
		}

	}

// FONT AWESOME CONVERSION
  .glyphicon {
    font-family: "FontAwesome";
    font-size: 1em;
    &:before {
      content: "\f111";
    }
    &.glyphicon-clock:before {content: "\f017";}
    &.glyphicon-trash:before {content: "\f1f8";}
    &.glyphicon-ban-circle:before {content: "\f05e";}
    &.glyphicon-plus:before {content: "\f067";}
    &.glyphicon-minus:before {content: "\f068";}
    &.glyphicon-star:before {content: "\f005";}
    &.glyphicon-star-empty:before {content: "\f006";}
    &.glyphicon-thumbs-up:before {content: "\f164";}
    &.glyphicon-warning-sign:before {content: "\f071";}
    &.glyphicon-ok-sign:before {content: "\f058";}
    &.glyphicon-hourglass:before {content: "\f250";}
  }
  i.glyphicon {font-style: normal;}
}

// Bootstrap Modal Dialog // Start
